<div class="page-header">
	<h1>
		Users 
		<a href="/users/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span> 
			New User
		</a>
	</h1>

</div>

<div class="jumbotron text-center" ng-show="user.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Users...</p>
</div>

<table class="table table-bordered table-striped" ng-show="user.users">
	<thead>
		<tr>
			<th>_id</th>
			<th>Name</th>
			<th>Username</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="person in user.users">
			<td>{{ person._id }}</td>
			<td>{{ person.name }}</td>
			<td>{{ person.username }}</td>
			<td class="col-sm-2">
				<a ng-href="/users/{{ person._id }}" class="btn btn-danger">Edit</a>
				<a href="#" ng-click="user.deleteUser(person._id)" class="btn btn-primary">Delete</a>
			</td>
		</tr>
	</tbody>
</table>

<div ng-controller="postController as postCtlr">


	<h1>Posts
		<a class="btn btn-default" data-target="#postModal" data-toggle="modal">
			<span class="glyphicon glyphicon-plus"></span> 
			New Post
		</a>
	</h1>
	
	<div class="jumbotron text-center" ng-show="postCtlr.processingPosts">
		<span class="glyphicon glyphicon-repeat spinner"></span>
		<p>Loading Posts...</p>
	</div>
	
	<table class="table table-bordered table-striped" ng-show="postCtlr.posts">
		<thead>
			<tr>
				<th>Subject</th>
				<th>Body</th>
				<th>Author</th>
				<th>Time</th>
				<th class="col-sm-1"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="post in postCtlr.posts">
				<td>{{ post.subject }}</td>
				<td>{{ post.body }}</td>
				<td>{{ post.username }}</td>
				<td>{{ post.time | date:'medium' }}</td>
				<td class="col-sm-1">
					<a class="btn btn-danger">Dismiss</a>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Modal -->
	<div id="postModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Create User Post</h4>
				</div>
				<div class="modal-body">
						<div class="form-group">
							<label for="exampleInputEmail1">Subject</label>
							<input type="text" class="form-control" id="postSubject" 
								ng-model="postCtlr.postData.subject" placeholder="subject">
						</div>
						<div class="form-group">
							<label for="postBody">Post Body</label>
							<textarea rows="2" class="form-control" id="postBody"
							ng-model="postCtlr.postData.body" placeholder="body">
							</textarea>
	
						</div>
				</div>
				<div class="modal-footer text-align">
					<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
					<a href="#" ng-click="postCtlr.createPost()" 
							class="btn btn-primary">Save Post</a>
				</div>
			</div>
		
		</div>
	</div>

</div>

